<p>Contenu de twig/inclus.html.twig</p>

{% if test is defined %}
    <p>Le fichier inclus a accès à la variable test qui vaut : {{ test }}</p>
{% else %}
    <p>Le fichier inclus n'a pas accès à la variable test</p>
{% endif %}

{% if foo is defined %}
    <p>Le fichier inclus a accès à la variable foo qui vaut : {{ foo }}</p>
{% else %}
    <p>Le fichier inclus n'a pas accès à la variable foo</p>
{% endif %}
